# Puerto del servidor
PORT=3001

# AWS Configuración
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu_access_key_aqui
AWS_SECRET_ACCESS_KEY=tu_secret_key_aqui

# Emails
SES_FROM_EMAIL=ventas@geodesik.cl
SES_TO_EMAIL=ventas@geodesik.cl

# CORS
CORS_ORIGIN=https://geodesik.cl
