@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-gray-800;
  }
}

@layer utilities {
  .gradient-primary {
    @apply bg-gradient-to-r from-primary to-primary-dark;
  }
  
  .gradient-text {
    @apply bg-gradient-to-r from-primary to-primary-dark bg-clip-text text-transparent;
  }
}
